@model Bangazon.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Title) &ndash; @Html.DisplayFor(model => model.Price) </h2>

<div>
    <h4>@Html.DisplayFor(model => model.Description)</h4>
    <hr />

    <h4>@Html.DisplayFor(model => model.Quantity) remaining!</h4>

    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-default">Add to Order</a>

</div>

<br/>

<div>
    <a asp-action="Index">&lt;&lt; Back to List</a>
</div>


