@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Label)</h4>
    <hr />

    <h5>Products</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        @*@Html.ActionLink("Edit", "Edit", "Employee", new { id = item.EmployeeId }, null) |
                            @Html.ActionLink("Details", "Details", "Employee", new { id = item.EmployeeId }, null)*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>    